:host {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 8px;
}

button {
  padding: 8px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poti {
  width: 8px;
  height: 8px;
  border-radius: 999px;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(0, 255, 0);
}