:host {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10% 80% 10%;
  background-color: var(--app-background-color);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}