/* You can add global styles to this file, and also import other style files */

body {
  /* pull-to-refresh 無効化 */
  overscroll-behavior: contain;
  /* 文字列選択を無効化 */
  user-select: none;

  /* アプリの背景色 */
  --app-background-color: #e0efff;
}

/* シャドウUI */
.g-shadow {
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.37);
}